@font-face {
    font-family: segoi-ui;
    src: url('../segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
}

body {
    font-family: segoi-ui;
}

img {
    max-width: 100%;
}

/* HEADER INICIO */

header{
    background-image: url(../img/site-header-background.jpeg);
    height: 61rem;
}

.texto-header{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    margin-left: 20rem;
}
h1{
    font-size: 5.8rem;
    color: #053477;
}



.barra-superior{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    
}

.imagen-logo{
    height: 3rem;
    width: 10rem;
    margin-left: 40rem;
    margin-top: 1rem;
}

.links-superior{
    display: flex;
    justify-content: space-between;
    padding-right: 30rem;
}

.nav-link{
    color: blue;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 0 1.5rem;
}

.inicio{
    border: black transparent 1px;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
}

/* HEADER FIN */

main{
    display: flex;
    flex-wrap: wrap;
}

h2{
    font-size: 5rem;
    color: #2A4B7A;
}

h3{
    font-size: 2.5rem;
    color: #F75F1C;
    display: flex;
    text-align: center;
    justify-content: center;
}

p{
    font-size: 1.8rem;
    color: #053477;
    text-align: center;
    margin: 0rem 5rem;
}

.contenedor-main{
    display: flex;
    margin-top: 10rem;
    margin-bottom: 20rem;
    flex-direction: row;
}

.contenedor-trabajo{
    display: flex;
    flex-direction: column;
}

.texto-trabajo{
    margin-right: 8rem;
}

.nuestro-trabajo{
    margin: 1rem 0rem;
    margin-left: 5rem;
    margin-right: 8rem;
}

.seccion-trabajo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.imagen-trabajo{
    height: 8rem;
    width: 8rem;
    margin-top:5rem;
    margin-left: 11rem;
}

.contenedor-equipo{
    display: flex;
}

.contenedor-contactos{
    display: flex;
}



